@font-face {
    font-family: "Franklin";
    src: url("../fonts/Franklin Gothic ATF ExLt.otf") format("opentype");
    font-weight: 200; /* Extra Light */
    font-style: normal;
}

@font-face {
    font-family: "Franklin";
    src: url("../fonts/Franklin Gothic ATF Lt.otf") format("opentype");
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: "Franklin";
    src: url("../fonts/Franklin Gothic ATF.otf") format("opentype");
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: "Franklin";
    src: url("../fonts/Franklin Gothic ATF Bold.otf") format("opentype");
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: "Franklin";
    src: url("../fonts/Franklin Gothic ATF Hvy.otf") format("opentype");
    font-weight: 900; /* Heavy */
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Franklin", sans-serif;
    background-color: #C30000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    padding: 0px 0px 50px 0;
}


.video-wrapper {
    background-image: url(../img/kitkat.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}
h1 {
    color: #FFF;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 88%; /* 77.44px */
    letter-spacing: -3px;
    margin-bottom: 8px;
    word-wrap: break-word;
}
h2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 121%; /* 58.08px */
    letter-spacing: -2px;
    margin-bottom: 8px;
}
h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 121%; /* 29.04px */
    margin-bottom: 8px;
}

h5 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    margin-bottom: 8px;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 0 24px;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
}
.main-content.video {
    background-image: url(../img/kitkat.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}
.video-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.video-block h1 {
text-align: left;
    width: 250px;
}
.video-block h2 {
    text-align: left;
    width: 250px;
}

p.video {
    color: #FFF;
    width: 310px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154%; /* 24.64px */
    margin: 0 auto;
}
/*.video-block img{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/


.title {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 121%; /* 48.4px */
    letter-spacing: -1px;
    margin-bottom: 40px;
}

p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154%; /* 24.64px */
    opacity: .8;
}
.logo {
    width: 65px;
    height: auto;
}
/* Camera frame */
.camera-frame {
    flex: 1;
    max-width: 100%;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
    border-radius: 40px;
    border: 1px solid #FFF;
    background: #A50404;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



a.button {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    padding: 16px 24px;
    border: 2px solid #FFF;
    text-decoration: none;
    transition: .5s ease;
    transform: scale(1);
}

a.button:hover {
    transform: scale(1.03);
}
/* Bottom navigation */
.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 24px 40px 24px;
    gap: 16px;
}
a.nav-icon {
    transition: .5s ease;
    transform: scale(1);
}
a.nav-icon:hover {
    transform: scale(1.1);
}
.nav-button {
    background-color: transparent;
}

form {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
form h4 {
    text-align: left;
}
form .form-input {
    display: flex;
    flex-direction: column;
    gap: 10px
}

form .form-input label{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    text-align: left;
}
form .form-input input {
    padding: 16px;
    color: #fff;
    border: 1px solid #FFF;
    background: transparent;
}
form .form-input input::placeholder{
    color: #631111;
}
form .radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}
form .radios .form-radio {
    display: flex;
    gap: 10px;
    align-items: center;
}
form .radios label {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Активний (обраний) */
input[type="radio"]:checked {
    background-color: #000;
    border-color: #000;
}
.location {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    padding: 8px;
}

.location .latitude, .location .longitude {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.mySwiper {
    width: 100%;
    max-width: 900px;
    /*height: 420px; !* <- якщо не вказати, іноді висота буде 0 *!*/
    box-sizing: border-box;
    /*overflow: hidden;*/
    position: relative;
    /*margin-left: -15px;*/
}

.mySwiper .swiper-pagination {
    position: absolute;
    bottom: -30px;   /* відступ від низу */
    left: 50%!important;
    transform: translateX(-50%);

    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
}

.mySwiper .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background: #fff;
    margin: 0 5px !important;
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
}

.mySwiper .swiper-pagination-bullet-active {
    /*background: #111;*/
    opacity: 1;
    width: 8px;
    height: 8px;
}

.mySwiper .swiper-wrapper {
    display: flex;
    
}

.mySwiper .swiper-slide {
    flex-shrink: 0;
    width: 100%;
}

.mySwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d5d5d5;
}
.mySwiper .swiper-slide .slider-item__link {
    width: 100%;
}
.mySwiper .swiper-slide a.button {
    display: inline-block;
    padding: 16px 24px;
    background: #fff;
    color: #000;
    text-decoration: none;
    width: 100%;
}
.mySwiper .swiper-slide .slider-item__content {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.mySwiper .swiper-slide .slider-item__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;

}
.mySwiper .slider-item__img {
    width: 100%;
    max-height: 350px;
    height: 350px;
    overflow: hidden;
    margin-bottom: 12px;
}

@media (max-width: 400px) {
    .mySwiper .slider-item__img {
    max-height: 220px;
    height: 220px;
    }
}

.mySwiper .slider-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*display: block;*/
}


.not-vibe {
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    background: #9D0200;
    gap: 10px;
    align-items: center;;
}
.not-vibe img {
    width: 17px;
    height: 24px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(0%);
    }

}
/* Responsive design */
@media (min-width: 768px) {
    body {
        max-width: 475px;
        margin: 0 auto;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
}
